:root {
    --title-color: #322153;
    --primary-color: #34cb79;
}

* {
    margin: 0;
    padding: 0;

}

html {
    font-family: 'Manrope', sans-serif;
}

h1, a {
    font-family: 'Raleway', sans-serif;
}

body {
    background: rgb(240, 240, 245);
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

/* Box Model
Modelo de caixa
caracteristicas:
largura,altura,espaçamentos, preenchimentos, alinhamentos
bordas, cor, fundo, maneira que é vista pelo html (display)
*/






